.conda/
.vscode/
/test/OPENAIKEY.py
*.pyc
front_end/reference
/back_end/OPENAIKEY.py
xuan.session.sql
back_end/store/database/fileInfo.db
back_end/store/databank/
back_end/nohup.out
front_end/web/digital_myself_frontend_vue/package-lock.json